* {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
}
body {
  background-color: #666666;
  margin: 10px;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #aa6c39;
}
input {
  width: 50px;
}
a:hover {
  color: #000000;
}
.hide {
  display: none;
}
.table {
  background-color: #ffffff;
  display: inline-block;
  padding: 50px;
  margin: 10px 0 0 0;
  text-align: center;
}
.cards {
  background-image: url('https://ipfs.io/ipfs/bafybeigote5xqkbrkhuntnzghknafysuilukak4uunhx6f5ccv776l2oqa/cardset.png');
  display: inline-block;
  height: 60px;
  width: 40px;
}
.niu {
  filter: brightness(0.7);
}
.tables {
  background-color: #eeeeee;
  width: 24%;
  margin: 10px 10px 0 0;
  padding: 20px 0 20px 0;
  text-align: center;
  border: 2px solid #000000;
  display: inline-block;
}
table {
  width: 100%;
  background-color: #ffffff;
}
td.menu a {
  padding-right: 50px;
  font-weight: bold;
}
td.side {
  width: 200px;
  font-size: small;
}
